* {
    padding: 0; margin: 0;
    font: white;
}
body{
    font: normal normal normal 16px/1.4em raleway,sans-serif
}
.bg-blue{
    background-color: #002f5d;
    line-height: 22px;
}
.bg-footer{
    background-color: #228ac9;
    line-height: 22px;
    border-top: 1px solid white;
}
.button-border-plain{
    border: 1px white;
    transition: 0.5s;
    border-style: solid;
    border-radius: 0;
    color: white;
}
.button-border-plain:hover{
    color: #002f5d!important;
    background-color: white;
}
.spacer-lg{
    padding: 1.24em;
    padding-left: 1.24em;
}
#LoggedIn{
    display: none;
}
#LoggedOut{
    display: flex;
}
