@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

html {
	height: 100%;
}
body {
	background-image:
	linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
	url("../img/background4.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-color: #464646;
	margin-bottom: 60px;
	height: 100%;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.main-content{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

}

.site-content {
	height: 100%;
	align-items: center;
	justify-content: center;
	flex: 1;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.title {
	font-family: 'Roboto', sans-serif;
}

.row-center {
	display: flex;
	height: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.column-center {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-footer{
position:absolute;
bottom:0;
width:100%;
}

#navbar-sign-out, #navbar-dashboard, #member-area, #sign-out2, #dashboard-account-section{
	display:none;
}

#rooms-container{
	overflow-y: scroll;
	height: 400px;
}

#book-Section{
	min-width: 75%;
}
